@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background-color:#f5f5f5;
}




.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-container form{
   padding:2rem;
   text-align: center;
   box-shadow:#777;
   background-color:white;
   border-radius: .5rem;
   width: 50rem;
   border:2px solid black;
}

.form-container form h3{
   text-transform: uppercase;
   color:black;
   margin-bottom: 1rem;
   font-size: 2.5rem;
}


.form-container form .box{
   width: 100%;
   margin:1rem 0;
   border-radius: .5rem;
   background-color:aliceblue;
   padding:1.4rem;
   font-size: 1.8rem;
   color:black;
}
.btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 3rem;
   font-size: 1.7rem;
   text-transform: capitalize;
   color:white;
   cursor: pointer;
   text-align: center;
   background-color: #2980b9;
}

.btn:hover{
   background-color:#444;
}
/* p{
   font-size:22px;
 }
 
 .login__field label{
   position: absolute;
   left: 1rem;
   top: -1rem;
   padding: 00.5rem;
   font-size:.9rem;
   font-style: oblique;
   
 } */