.contant {
  margin-top: 20px;
  margin: 50px;

}


  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #000000;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 20px;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
  
  /* Pricing header */
  .price .header {
    background-color: #282560;
    color: white;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border: 1px solid #311c1c;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button1{
    width: 100%;
    background-color: #2f1ee3;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
  }
  .button1:hover{
  
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);


  }
  p{
    font-size:18px;
  }
  
  .login__field label{
    position: absolute;
    left: 1rem;
    top: -1rem;
    padding: 00.5rem;
    font-size:.9rem;
    font-style: oblique;
    
  }
  
  